@using PagedList.Mvc
@model PagedList.IPagedList<UserViewModel>
<div class="jumbotron">
    @foreach (var user in Model)
    {
        <div class="row">
            <div class="col-sm-4">@user.Name</div>
            <div class="col-sm-8">
                <a class="btn btn-sm btn-default">Send friend request</a>
                <a class="btn btn-sm btn-default">Send friend request</a>
                <a class="btn btn-sm btn-default">Send friend request</a>
            </div>
        </div>
    }
</div>

@if (Request.IsAuthenticated)
{
<div class="jumbotron">
    @using (Ajax.BeginForm(
        "FB_TaggableFriends", new { controller = "Facebook" },
        new AjaxOptions
        {
            OnFailure = "handleError(xhr,'Taggable_Friends')",
            HttpMethod = "Get",
            UpdateTargetId = "Taggable_Friends",
            LoadingElementId = "divLoadingTaggableFriends"
        },
        new
        {
            id = "Taggable_Friends_Form"
        }
    ))
    {
        <div style="display:none" id="divLoadingTaggableFriends">
            <img src="~/images/loader.gif" class="center img-responsive" />
        </div>
    }
    <div id="Taggable_Friends"></div>
</div>

    @section Scripts {
        <script type="text/javascript">

		    $("#Taggable_Friends_Form").submit();
            function handleError(ajaxContext, UpdateTargetId) {
                if (ajaxContext != null &&
                    ajaxContext.responseText != null) {
		            $("#" + UpdateTargetId).html(ajaxContext.responseText);
                }
            }

        </script>
    }
}