@model ChallengeViewModel
<div class="jumbotron">
    <div class="panel panel-primary">
        <div class="panel-heading">
        <h2 class="panel-title">@Model.Name</h2>
        </div>
        <div class="panel-body">@Model.Description</div>
    </div>
    <p>Created by @Model.UserName</p>
</div>