@using PagedList.Mvc;
@model PagedList.IPagedList<ChallengeViewModel>

<div class="jumbotron">
    <h1>My Challenges</h1>
    <p class="lead">Challenges created by me.</p>
</div>
<div class="row">
    <div class="col-lg-2">
        <div class="flip">
            <div class="front">@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-lg" })</div>
            <div class="back">@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-lg" })</div>
        </div>
    </div>
</div>
<hr />

<div id="ChallengesListWrapper">
    @Html.Partial("_ListChallengesPanelsPartial")
</div>

@section Scripts {
    <script>
        $(function () {
            $(".flip").flip({
                trigger: 'hover'
            });
        });
    </script>
}
